@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant negative (&:where(.negative, .negative :not(:where([class~=not-negative],[class~=not-negative] *))));
@custom-variant data-active (&[data-active="true"]);

@theme {
  /* https://tailwindcss.com/docs/theme#theme-variable-namespaces */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 60rem;
  --breakpoint-desktop: 60rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 100rem;
  --breakpoint-2xl: 120rem;

  --font-body: 'Open Sans', 'sans-serif';
  --font-headings: 'Open Sans', 'serif';

  --color-primary: oklch(70.14% 0.164 243.9);
  --color-dark-50: oklch(93.24% 0.007 286.27);
  --color-dark-100: oklch(87.29% 0.014 286.11);
  --color-dark-200: oklch(73.84% 0.03 285.64);
  --color-dark-300: oklch(60.09% 0.047 284.9);
  --color-dark-400: oklch(47.15% 0.045 284.54);
  --color-dark-500: oklch(34.01% 0.03 284.72);
  --color-dark-600: oklch(29.92% 0.025 284.78);
  --color-dark-700: oklch(25.22% 0.019 284.98);
  --color-dark-800: oklch(20.35% 0.014 285.1);
  --color-dark-900: oklch(15.1% 0.006 285.61);
  --color-dark-950: oklch(10.83% 0.007 285.17);

  --color-light-background: #ffffff;
  --color-light-foreground: #333333;
  --color-dark-background: #1a2e51;
  --color-dark-foreground: #eeeeee;

  --ease-in-back: cubic-bezier(0.7, 0.01, 0.75, -0.4);
  --ease-out-back: cubic-bezier(0.25, 1.4, 0.3, 0.99);
}

@layer base {
  html {
    @apply w-full min-w-[320px] overflow-auto;
  }

  body {
    @apply font-body text-light-foreground dark:text-dark-foreground text-base leading-loose font-normal tracking-normal;
  }

  h1,
  h2,
  h3 {
    @apply my-1 font-bold;
  }

  h1 {
    @apply font-headings text-light-foreground dark:text-dark-foreground mb-4 text-3xl leading-normal font-normal tracking-normal;
    &.small {
      @apply text-2xl;
    }
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply focus-visible:outline-primary focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2;
  }

  p {
    @apply mb-2.5;
  }

  p,
  span {
    a,
    .link {
      @apply hover:underline hover:underline-offset-2;
    }
    &.small {
      @apply text-sm font-light;
      &.strong {
        @apply font-semibold;
      }
      &.link {
        @apply text-primary font-normal;
      }
    }
    &.big {
      @apply text-lg font-medium;
      &.strong {
        @apply font-extrabold;
      }
      &.link {
        @apply text-primary;
      }
    }
  }

  button,
  .btn {
    @apply bg-primary text-dark-foreground hover:bg-primary/90 focus-visible:outline-primary inline-flex cursor-pointer justify-center rounded-md px-3 py-2 text-sm font-semibold shadow-xs focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2;
  }
}

@layer components {
}
