@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant sepia (&:where(.sepia-mode, .sepia-mode *));
@custom-variant negative (&:where(.negative, .negative :not(:where([class~=not-negative],[class~=not-negative] *))));
@custom-variant data-active (&[data-active="true"]);

@theme {
  /* https://tailwindcss.com/docs/theme#theme-variable-namespaces */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 60rem;
  --breakpoint-desktop: 60rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 100rem;
  --breakpoint-2xl: 120rem;

  --font-body: 'Open Sans', 'sans-serif';
  --font-headings: 'Open Sans', 'serif';

  --color-primary: #158876;

  --color-light-background: var(--color-white);
  --color-light-secondary-background: var(--color-gray-50);
  --color-light-foreground: var(--color-gray-950);
  --color-light-secondary-foreground: var(--color-gray-600);
  --color-light-tertiary-foreground: var(--color-gray-400);

  --color-dark-background: var(--color-gray-800);
  --color-dark-secondary-background: var(--color-gray-900);
  --color-dark-foreground: var(--color-white);
  --color-dark-secondary-foreground: var(--color-gray-400);
}

@layer base {
  /* .dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #091a28;
    --bg-secondary: #071521;
    --border-color: #0d2538;
  }

  .sepia-mode {
    --color: #433422;
    --color-secondary: #504231;
    --bg: #f1e7d0;
    --bg-secondary: #eae0c9;
    --border-color: #ded0bf;
  } */

  html {
    @apply w-full min-w-[320px] overflow-auto;
  }

  body {
    @apply font-body text-light-foreground dark:text-dark-foreground text-base leading-loose font-normal tracking-normal;
  }

  h1,
  h2,
  h3 {
    @apply my-1 font-bold;
  }

  h1 {
    @apply font-headings text-light-foreground dark:text-dark-foreground mb-4 text-3xl leading-normal font-normal tracking-normal;
    &.small {
      @apply text-2xl;
    }
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply focus-visible:outline-primary focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2;
  }

  p {
    @apply mb-2.5;
  }

  p,
  span {
    a,
    .link {
      @apply hover:underline hover:underline-offset-2;
    }
    &.small {
      @apply text-sm font-light;
      &.strong {
        @apply font-semibold;
      }
      &.link {
        @apply text-primary font-normal;
      }
    }
    &.big {
      @apply text-lg font-medium;
      &.strong {
        @apply font-extrabold;
      }
      &.link {
        @apply text-primary;
      }
    }
  }

  button,
  .btn {
    @apply bg-primary text-dark-foreground hover:bg-primary/90 focus-visible:outline-primary inline-flex cursor-pointer justify-center rounded-md px-3 py-2 text-sm font-semibold shadow-xs focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2;
  }
}

@layer components {
}
