@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant sepia (&:where(.sepia-mode, .sepia-mode *));
@custom-variant negative (&:where(.negative, .negative :not(:where([class~=not-negative],[class~=not-negative] *))));
@custom-variant data-active (&[data-active="true"]);

@theme {
  /* https://tailwindcss.com/docs/theme#theme-variable-namespaces */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 60rem;
  --breakpoint-desktop: 60rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 100rem;
  --breakpoint-2xl: 120rem;

  --font-body: 'Open Sans', 'sans-serif';
  --font-headings: 'Open Sans', 'serif';

  --color-primary-light: oklch(0.953 0.051 180.801);
  --color-primary: oklch(0.704 0.14 182.503);
  --color-primary-dark: oklch(0.386 0.063 188.416);

  --color-background: var(--color-white);
  --color-secondary-background: var(--color-gray-50);
  --color-tertiary-background: var(--color-gray-100);
  --color-foreground: var(--color-gray-950);
  --color-secondary-foreground: var(--color-gray-600);
  --color-tertiary-foreground: var(--color-gray-400);

  --color-hover: var(--color-gray-500);
}

@layer base {
  .dark-mode {
    --color-background: var(--color-gray-800);
    --color-secondary-background: var(--color-gray-900);
    --color-tertiary-background: var(--color-gray-700);
    --color-foreground: var(--color-gray-100);
    --color-secondary-foreground: var(--color-gray-300);
    --color-tertiary-foreground: var(--color-gray-500);
  }

  .sepia-mode {
    /* https://www.tints.dev/primary/F5DEB3 */
    --color-primary-light: oklch(92.51% 0.052 83.4);
    --color-primary: oklch(40.18% 0.077 77.58);
    --color-primary-dark: oklch(25.07% 0.044 79.09);

    --color-background: oklch(99.4% 0.004 91.45);
    --color-secondary-background: oklch(98.3% 0.011 84.58);
    --color-tertiary-background: oklch(96.63% 0.022 83.26);
    --color-foreground: oklch(25.07% 0.044 79.09);
    --color-secondary-foreground: oklch(40.18% 0.077 77.58);
    --color-tertiary-foreground: oklch(65.44% 0.13 76.51);

    --color-hover: var(--color-primary);
  }

  html {
    font-size: 16px;
    scrollbar-gutter: stable;
    @apply w-full min-w-[400px] overflow-auto;
  }

  body {
    @apply font-body text-foreground text-base leading-loose font-normal tracking-normal;
  }

  h1,
  h2,
  h3 {
    @apply my-1 font-bold;
  }

  h1 {
    @apply font-headings text-foreground mb-4 text-3xl leading-normal font-normal tracking-normal;
    &.small {
      @apply text-2xl;
    }
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply focus-visible:outline-primary focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2;
  }

  p {
    @apply mb-2.5;
  }

  p,
  span {
    a,
    .link {
      @apply hover:underline hover:underline-offset-2;
    }
    &.small {
      @apply text-sm font-light;
      &.strong {
        @apply font-semibold;
      }
      &.link {
        @apply text-primary font-normal;
      }
    }
    &.big {
      @apply text-lg font-medium;
      &.strong {
        @apply font-extrabold;
      }
      &.link {
        @apply text-primary;
      }
    }
  }
}

@layer components {
  button,
  .btn {
    @apply bg-primary text-foreground hover:bg-primary/90 focus-visible:outline-primary inline-flex cursor-pointer justify-center rounded-md px-3 py-2 text-sm font-semibold shadow-xs focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2;
  }
}

@layer utilities {
  .blur-enter-active,
  .blur-leave-active {
    @apply min-h-screen transition-all duration-500;
  }

  .blur-leave-active {
    @apply absolute inset-0 w-full;
  }

  .blur-enter-from,
  .blur-leave-to {
    @apply opacity-0 blur-lg;
  }
}
